<div class="card-group">
  <div class="row">
    <div
      class="card col-sm-12 col-md-6 col-lg-4 col-xl-3 p-0 mb-5"
      *ngFor="let c of datosCard"
    >
      <img src="{{ c.img }}" class="card-img-top" alt="{{ c.titulo }}" />
      <div class="card-body">
        <h5 class="card-title">{{ c.titulo }}</h5>
        <p class="card-text">
          {{ c.descripcion }}
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</div>
