<app-spinner *ngIf="!articulo || !loading"></app-spinner>
<div class="card mb-5" *ngIf="articulo && loading">
  <div class="card-header text-center">
    <!-- {{ articulo.created_at | date: 'dd-MM-yyyy' }}
    <small><a class="text-danger text-decoration-none" routerLink="/">Volver</a></small> -->
    Valoracion: 7.5 (en desarrollo)
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-3">
        <img class="rounded w-100" src="{{ articulo.imagen }}" alt="{{ articulo.titulo }}" />
        <h5 class="card-title">{{ articulo.titulo }}</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item fw-bold">
            <a routerLink="/categoria/{{ articulo.id_categoria }}">{{ articulo.categoria }}</a>
          </li>
          <li class="list-group-item" *ngFor="let s of articulo.subcategorias">
            <a routerLink="/subcategoria/{{ s.id }}">{{ s.nombre }}</a>
          </li>
        </ul>
        <small class="text-muted">{{ articulo.descripcion }}</small>
      </div>

      <div class="col-xl-9">
        <p class="card-text">
          {{ articulo.contenido }}
        </p>
        <app-spinner *ngIf="!loadingEnlaces"></app-spinner>
        <table class="table" *ngIf="enlaces && loadingEnlaces && !enlaces0">
          <thead>
            <tr>
              <th scope="col">Titulo</th>
              <th scope="col">Idioma</th>
              <th scope="col">Enlace</th>
              <th scope="col">Descargas</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of enlaces">
              <td>{{ e.titulo }}</td>
              <td>{{ e.idioma }}</td>
              <td>
                <a (click)="sumarDescarga(e.id)" class="text-decoration-none" target="_blank" href="{{ e.url }}"
                  >Descargar</a
                >
              </td>
              <td>{{ e.descargas }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-spinner *ngIf="!comentariosLoading"></app-spinner>
<div *ngIf="comentarios && comentariosLoading" class="mb-5">
  <div class="card text-dark bg-light mb-3" *ngFor="let c of comentarios.comentarios">
    <div class="card-header text-end">{{ c.created_at | date: 'dd-MM-yyyy HH:mm' }}</div>
    <div class="card-body">
      <h5 class="card-title">{{ c.nick_usuario }}</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
    </div>
  </div>
  <div class="d-grid gap-2 col-3 mx-auto">
    <button class="btn btn-primary btn-sm center-block" *ngIf="comentarios.total >= comentariosTam" (click)="vermas()">
      ver mas
    </button>
  </div>
</div>
