<app-spinner *ngIf="!articulo || !loading"></app-spinner>
<div class="card mb-5" *ngIf="articulo && loading">
  <div class="card-header text-center">
    {{ articulo.created_at | date: 'dd-MM-yyyy' }}
    <small><a class="text-danger text-decoration-none" routerLink="/">Volver</a></small>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-3">
        <img class="rounded w-100" src="{{ articulo.imagen }}" alt="{{ articulo.titulo }}" />
        <h5 class="card-title">{{ articulo.titulo }}</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item fw-bold">{{ articulo.categoria }}</li>
          <li class="list-group-item" *ngFor="let s of articulo.subcategorias">{{ s.nombre }}</li>
        </ul>
        <small class="text-muted">{{ articulo.descripcion }}</small>
      </div>

      <div class="col-xl-9">
        <p class="card-text">
          {{ articulo.contenido }}
        </p>
        <app-spinner *ngIf="!loadingEnlaces"></app-spinner>
        <table class="table" *ngIf="enlaces && loadingEnlaces">
          <thead>
            <tr>
              <th scope="col">Titulo</th>
              <th scope="col">Idioma</th>
              <th scope="col">Enlace</th>
              <th scope="col">Descargas</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of enlaces">
              <td>{{ e.titulo }}</td>
              <td>{{ e.idioma }}</td>
              <td>
                <a (click)="sumarDescarga(e.id)" class="text-decoration-none" target="_blank" href="{{ e.url }}"
                  >Descargar</a
                >
              </td>
              <td>{{ e.descargas }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
